<div class="temp">
    <!-- <h1 class="temphead">Templates</h1> -->
    <div class="card p-3 tempcard" style="width: 16rem;">
        <img src="images/flat-mountains.png" class="card-img" alt="...">
        <div class="card-body ">
            <h5 class="card-title my-2">Blog Site</h5>
            <p class="card-text cardpara">A minimalist Blog 
                Site for portraying your thoughts</p>
            <a href="/blog" class="btn btn-primary mt-2">Click to Create</a>
        </div>
    </div>
</div>